@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}


.section input[id="slide"]{
	display:none;
}

.section{
	position: absolute;
	left: 0;right: 0;top: 0; bottom: 0;
	overflow: hidden;
	z-index:2;
}

h1{
	font-size: 30px;
	position: absolute;
	top:30px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	color: #e6e3e0;
}

.slide{
	position:absolute;
	width:100%;
	height:150px;
	transition:transform 1s cubic-bezier(0.85, 0, 0.15, 1);
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	padding:3rem;
}

#slide-1{
	background-color: #27221e;
	left:0%;
}
#slide-2{
	background-color: #27221e;
	left:100%;
}
#slide-3{
	background-color: #27221e;
	left:200%;
}
#slide-4{
	background-color: #27221e;
	left:300%;
}
#slide-5{
	background-color: #27221e;
	left:400%;
}
#slide-6{
	background-color: #27221e;
	left:500%;
}
.section [id="slide01"]:checked ~ .slide{transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slide{transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slide{transform:translateX(-200%);}
.section [id="slide04"]:checked ~ .slide{transform:translateX(-300%);}
.section [id="slide05"]:checked ~ .slide{transform:translateX(-400%);}
.section [id="slide06"]:checked ~ .slide{transform:translateX(-500%);}
.section input{
	display: none;
}

#slide01:checked ~ .pagination label:nth-child(1),
#slide02:checked ~ .pagination label:nth-child(2),
#slide03:checked ~ .pagination label:nth-child(3),
#slide04:checked ~ .pagination label:nth-child(4),
#slide05:checked ~ .pagination label:nth-child(5),
#slide06:checked ~ .pagination label:nth-child(6){
	opacity: 0.8;
}
.back{
	width: 100%;
	height: 100%;
	z-index: -3;
	left: 0; top: 0;
	background-color: #e6e3e0;
	position: absolute;
}
@media screen and (max-width:996px){
	.slide h1{
		font-size: 24px;
		top: 25px;
	}
	.slide{
		height: 125px;
	}
	
}
@media screen and (max-width:600px){
	.slide h1{
		font-size: 24px;
		top: 15px;
	}
	.slide{
		height: 100px;
	}
	
}