@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	color: #1a0f00;}

.slider{
	position: absolute;
	left: 0;right: 0;top: 0; bottom: 0;
	overflow: hidden;
	z-index:2;
}
.slide{
	position:absolute;
	width:100%;
	height:100%;
	transition:transform 1s cubic-bezier(0.85, 0, 0.15, 1);
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	padding:3rem;
}
.slide img{
	
	height: 70vh;
}

#slide-1{
	background-image:url("background.png");
	left:0%;
}
#slide-2{
	background-color: #e6e3e0;
	left:100%;
}
#slide-3{
	background-color: #e6e3e0;
	left:200%;
}

#slide-radio-1:checked ~ .slide {transform:translateX(0);}
#slide-radio-2:checked ~ .slide {transform:translateX(-100%);}
#slide-radio-3:checked ~ .slide {transform:translateX(-200%);}

#slide-radio-1:checked ~ .next {transform:translateX(0);}
#slide-radio-2:checked ~ .next {transform:translateX(-100%);}
#slide-radio-3:checked ~ .next {transform:translateX(-200%);}


input{
	display: none;
}
.pagination{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:6rem;
	z-index:3;
}

.slide h1{
	font-size: 32px;
	line-height: 48px;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
	color: aliceb#27221e;
}

#c1 {
	color:#27221e;
}
#c2 {
	color:#27221e;
	
}
.slide h2{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-bottom: 64px;
	color: aliceblue;
}
.p1{
	font-size: 14px;
	line-height: 26px;
}


#slide-radio-1:checked ~ .pagination label:nth-child(1),
#slide-radio-2:checked ~ .pagination label:nth-child(2),
#slide-radio-3:checked ~ .pagination label:nth-child(3){
	opacity: 0.8;
}
#slide-radio-1:checked ~ .pagination label:nth-child(1):after,
#slide-radio-2:checked ~ .pagination label:nth-child(2):after,
#slide-radio-3:checked ~ .pagination label:nth-child(3):after{
	opacity: 1;
}


.shape{
	fill: #eee;
	opacity: 60%;
	cursor: pointer;
}
.box1{
	position: absolute;
	top: 50%;
	margin-top: -300px;
	width: 800px;
	height: 600px;
	z-index: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
	color: aliceblue;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 30px;
	border: 0px solid white;
}
.box2{
	position: absolute;
	top: 50%;
	margin-top: -300px;
	width: 1100px;
	height: 600px;
	z-index: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
	color: aliceblue;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-radius: 30px;
	border: 0px solid white;
}


.box5{
	position: relative;
	height: 250px;
	width:300px;
	margin: 20px auto;

	background-color: white;
	opacity: 1;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0px 5px 50px #b8b8b9;
}
.box6{
	position: relative;
	height: 250px;
	width:300px;
	margin: 20px auto;

	background-color: white;
	opacity: 1;
	text-align: center;
	border-radius: 30px;
	box-shadow: 0px 5px 50px #b8b8b9;
}
.box5 img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border-radius: 30px;

}
.box6 img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 30px;

}
.content{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #27221e;
	border-radius: 30px;
}
.box5:hover .content{
	opacity: 0.8;
	cursor: pointer;
}
.box6:hover .content{
	opacity: 0.8;
	cursor: pointer;
}
.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "YD윤고딕 310";
}
.slide a{
	display:inline-block;
	text-decoration: none;
	color: #27221e;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 14px;
	padding: 16px 32px;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.2s ease-in-out;
	font-family: 'YD윤고딕 310';
	z-index: 5;
}

.slide a:hover{
	border-color: #27221e;
	color: #27221e;
	background: transparent !important;
}

#p2{
	color: #27221e;
}
#p2:hover{
	border-color: #27221e;
}


@media screen and (max-width:992px){
	.box1{
		width: 800px;
		align-content: center;
		padding: 60px;
	}
	.box2{
		width: 800px;
		right: 50%;
		margin-right: -400px;
		top: 50%;
		margin-top: -300px;
		
	}
	.box5{
		width: 240px;
		height: 200px;
		margin: 20px auto;
		padding: 60px;
		text-align: center;
	}
	.box5 img{
		margin: -60px;
		width: 240px;
		height: 200px;
	}
	.box6{
		width: 240px;
		height: 200px;
		margin: 20px auto;
		padding: 60px;
		text-align: center;
	}
	.box6 img{
		margin: -60px;
		width: 240px;
		height: 200px;
	}
	.box{
		bottom: -250px;
	}
}
@media screen and (max-width:600px){
	.slide img{
	height:50vh;
    }
	.box1{
		width: 450px;
		right: 50%;
		margin-right: -225px;
		top: 50%;
		margin-top: -300px; 
		padding: 0px;
	}
	.box2{
		width: 450px;
		right: 50%;
		margin-right: -225px;
		top: 50%;
		margin-top: -300px;
	}
	
	.box5{
		width: 180px;
		height: 150px;
		align-items: center;
	}
	.box5 img{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: -60px;
	}
	.box6{
		width: 160px;
		height: 150px;
		align-items: center;
	}
	.box6 img{
		margin: -60px;
		width: 160px;
		height: 150px;
	}
	.content p{
		align-items: center;
		position: relative;
		font-size: 16px;
		margin: 0px;
	}
	.box{
		bottom: -300px;
	}

	.pagination label:before{
		background: aliceblue;
	}
	.pagination label:after{
		border: 1px solid aliceblue;
	}
	.slide h1{
		font-size: 24px;
		font-weight: 400;
	}
	.slide h2{
		font-size: 16px;
	}
	#c1{
		font-size: 30px;
	}
}